a:hover {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:link {
  text-decoration:none;
}


h3{
  font-family: tahoma, arial, helvetica, sans-serif;
  color: #47aa1c;
}

p {
  color: #646c60;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 12px;
}

.cite {
  color: #777777;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  font-family: "Times New Roman", serif;
}

.menu_item {
  text-align:center;
  width:100px;
  height:20px;
  padding-top:3px;
}

.menu_bar {
  color:#879282;
  font-size:14px;
  font-family: Trebuchet MS, tahoma;
}

A.title:visited{
  font-family: tahoma, arial, helvetica, sans-serif;
  color: #879282;
  text-decoration:none;
}

A.title:hover{
  font-family: tahoma, arial, helvetica, sans-serif;
  color: #47aa1c;
  text-decoration:none;
}

A.title:link{
  font-family: tahoma, arial, helvetica, sans-serif;
  color: #47aa1c;
  text-decoration:none;
}

a img {
   border: none;
}

td.sidebar{
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 12px;
  width: 250px;
}

#navbar{
  width:340px;
  height:20px;
  background:url('/images/navbar-bg.png') left top repeat-x; 
}

#navbar .inbar{
  display:block;
  height:20px;
  background:url('/images/right-round.png') right top no-repeat; 
}

#navbar ul, #navbar ul li{
  border:0px;
  margin:0px;
  padding:0px;
  list-style:none;
  height:20px;
  line-height:20px; } 

#navbar ul{
  background:url('/images/left-round.png') left top no-repeat; 
} 

#navbar ul li{
  float:left;
  display: inline-block;
  line-height:20px; 
} 

#navbar ul li a{
  color:#403e32;
  text-decoration:none;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size:12px;
  display: inline-block; 
} 

#navbar ul li a span{
  padding:0 20px 0 0;
  height:20px;
  line-height:20px;
  display: inline-block;
  margin-left:20px; 
}

#navbar .navhome a, #navbar .navhome a:hover{
  background:url('/images/a-bg.png') left top no-repeat;
  height:20px;
  line-height:20px; 
} 

#navbar .navhome a span, #navbar .navhome a:hover span{
  color:#FFFFFF;
  background:url('/images/span-bg.png') right top no-repeat;
  height:20px;
  line-height:20px; 
} 
#navbar ul li a:hover{
  background:url('/images/ahover-bg.png') left top no-repeat;
  height:20px;
  line-height:20px; 
} 
#navbar ul li a:hover span{
  background:url('/images/spanhover-bg.png') right top no-repeat;
  height:20px;
  line-height:20px; 
}
